
@keyframes ripple {
  0% {
    box-shadow: 0 0 0 0 rgba(85, 209, 244, 0.4), 0 0 0 20px rgba(85, 209, 244, 0.3), 0 0 0 40px rgba(85, 209, 244, 0.1);
  }
  100% {
    box-shadow: 0 0 0 20px rgba(85, 209, 244, 0.3), 0 0 0 40px rgba(85, 209, 244, 0.1), 0 0 0 60px rgba(85, 209, 244, 0);
  }
}


.custom-marker {
  position: relative;
  border-radius: 50%;
  // 水面波纹 
  &.animation-ripple {
    animation: ripple 2.8s linear infinite;
  }
  .custom-maker-icon {
    overflow: hidden;
  }
  .custom-marker-label {
    position: absolute;
    color: #faad14 !important;
    top: calc(100% + 5px);
    left: 5px;
    z-index: 2;
  }

}